<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="CACTUS_STAGE" value="GBhOGpp15EFkrfpeRtY8CelndI6TZ2g4e3U1fX3x3p9qRRlp7eRPRRrBirmbDvRngea68F37/8fOk/4nzVSy95g2WocGmtEBxc3xigtr73Kt6vvf5yMzTisaHyn2H8tN" />
  </appSettings>

</configuration>